
*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --hue-neutral:215;
    --hue-wrong:0;
    --hue-correct:135;
}

body{
    --hue:var(--hue-neutral);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 35%);
}

body.correct{
    --hue:var(--hue-correct);
}
body.wrong{
    --hue:var(--hue-wrong);
}

.container{
    background-color: azure;
    width: 900px;
    max-width:70%;
    border-radius: 5px;
    padding: 12px;
    box-shadow: 0 0 15px 3px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn{
    --hue:var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 60%);
    border: 2px solid hsl(var(--hue), 100%, 45%);
    padding: 15px 25px;
    border-radius: 5px;
    color: azure;
    outline: none;
}

.btn:hover{
    border-color: black;
    cursor: pointer;
}

.btn.correct{
    --hue:var(--hue-correct);
    color: black;
}

.btn.wrong{
    --hue:var(--hue-wrong);
}

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 12px 25px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}